<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1> <%= @job_application.title %> </h1>
      <p class="lead"> <%= l @job_application.updated_at %> </p>
      <p class="lead">
        <%= link_to "Retour sur les candidatures", user_job_applications_path(@user), class: "btn btn-outline-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>

<div class="container">

  <div class="btn-group">
    <%= link_to "Modifier le titre", edit_user_job_application_path(@user, @job_application), class: "btn btn-primary btn-lg mr-4" %>
    <%= link_to "Supprimer", user_job_application_path(@user, @job_application), data: {confirm: "Etes-vous sûr ?"}, method: :delete, :class => "btn btn-outline-danger btn-lg" %>
  </div>

  <% @job_application.sorted_job_informations.each do |job_information| %>
    <div class="job-application-description row">
      <div class="col-lg-2 h2"> <%= job_information.name %> </div>
      <div class="col-lg-10">
        <%= raw job_information.content_md %>
      </div>
    </div>
  <% end %>

</div>
