<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1> <%= @job_application.title %> </h1>
      <p class="lead"> <%= l @job_application.updated_at %> </p>
      <p class="lead">
        <%= link_to "Retour sur les candidatures", user_job_applications_path(@user), class: "btn btn-outline-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>

<div class="container">

  <h1> Détails de la candidature </h1>

  <p> Titre : <%= @job_application.title %> </p>
  <p> Lien :               
    <% if @job_application.url %>
      <%= link_to @job_application.url, @job_application.url, target: "_blank" %>
    <% else %>
      Pas de lien
    <% end %>
  </p>
  <p> Description : <%= raw @description_html %> </p>

</div>
